.my-profile-bg {
  min-height: 100vh;
  max-height: 100%;
}

.my-profile-large-contents {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-top {
  width: 80%;
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.my-profile-img {
  height: 200px;
  width: 200px;
  border-radius: 18px;
  align-self: center;
}

.my-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
}

.my-profile-name {
  font-size: 20px;
  font-family: 'Roboto';
  color: #262626;
}

.my-profile-status-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.my-profile-status-content {
  color: #262626;
  font-size: 16px;
  font-family: 'Roboto';
  margin-right: 20px;
}

.my-profile-status-count {
  font-weight: bold;
  margin-right: 5px;
}

.my-profile-small-name {
  font-size: 17px;
  font-family: 'Roboto';
  color: #262626;
  margin-bottom: 4px;
  font-weight: normal;
}

.my-profile-user-id {
  font-size: 17px;
  font-family: 'Roboto';
  color: #262626;
  margin-bottom: 4px;
  font-weight: normal;
}

.my-profile-description {
  font-size: 18px;
  font-family: 'Roboto';
  color: #262626;
}

.my-profile-stories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-top: 15px;
}

.my-profile-story {
  height: 86px;
  width: 86px;
  list-style-type: none;
  border: 1px solid var(--INSTAGRAM-LIGHT-GREY, #dbdbdb);
  border-radius: 70px;
  align-items: center;
  padding: 0px;
  margin-right: 40px;
}

.my-profile-story-img {
  height: 78px;
  width: 78px;
  border-radius: 40px;
  margin-left: 3px;
  margin-top: 3px;
}

.line {
  background: #c6c6c8;
  width: 80%;
}

.my-profile-posts-heading-container {
  width: 80%;
  margin-top: 13px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-posts-heading {
  font-family: 'Roboto';
  color: black;
  font-size: 18px;
  margin-left: 12px;
}

.my-profile-posts-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 0px;
  flex-wrap: wrap;
}

.my-profile-post {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.my-profile-post-img {
  width: 100%;
  height: 100%;
}

.my-profile-small-top {
  display: none;
}

.no-posts-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-posts-content {
  margin-top: 5px;
  font-size: 20px;
  font-family: 'Roboto';
  color: #262626;
}

.light {
  color: #ffffff;
}

.dark {
  color: #262626;
}

@media screen and (max-width: 768px) {
  .profile-top {
    display: none;
  }

  .my-profile-small-top {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .my-profile-img-status-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .my-profile-status-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .my-profile-status-count {
    margin-right: 0px;
  }
  .my-profile-status-container {
    margin-left: 20px;
  }

  .my-profile-img {
    height: 90px;
    width: 90px;
    border-radius: 16px;
  }

  .my-profile-stories {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .line {
    width: 100%;
  }

  .my-profile-posts-heading-container {
    width: 100%;
    padding-left: 20px;
  }

  .my-profile-posts-container {
    width: 100%;
    padding: 0px;
    flex-wrap: wrap;
  }
}
